body {
  margin: 0;
  background-color: #001464;
}
.wrapper {
  max-width: 443px;
  margin: 50px auto 0 auto;
  border-radius: 10px;
  background-color: #eee;
  padding: 10px 0 10px 0;
}
h1 {
  color: #00c2e8;
  text-align: center;
}
form {
  max-width: 343px;
  margin: 0 auto;
  text-align: center;
}
label {
  display: block;
  font-weight: bold;
  font-size: 0.9em;
  color: #333;
  margin: 16px 0 6px;
}
input {
  padding: 6px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
input:focus {
  outline: 2px solid #00c2e8;
}
/* remove arrows in number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* arrows removed */
.field {
  display: inline-block;
  margin: 0 10px;
}
button {
  color: white;
  border: 0;
  background: #00c2e8;
  padding: 6px;
  min-width: 80px;
  border-radius: 4px;
  margin-top: 20px;
}
#calculated-fee {
  font-weight: "bold";
  color: #333;
  font-size: 1.2em;
  text-align: center;
  margin: 20px 10px;
}
